
<div class="container page page-signup">
	<form class="auth-form" #signupForm >
		<div class="row">
			<span class="title-md">Create New Account</span>
		</div>
		<div class="row">
			<span class="error-msg">{{errMsg}}</span>
		</div>

    	<div class="row">
			<div class="label-sm">Username</div>
			<input name="username" type="text" [(ngModel)]="username" (ngModelChange)="onInputChange($event)" required/>
		</div>
		<!-- <div class="row user-type">
			<div class="row">	
			    <div>{{'ORGNIZER'|translate}}</div>
			    <input type="radio" name="user-type" value="orgnizer" [(ngModel)]="userType" />
			</div>
			<div class="row">	
			    <div>{{'GUEST'|translate}}</div>
			    <input type="radio" name="user-type" value="guest" [(ngModel)]="userType" />
			</div>
	    </div> -->
<!-- 		    <p>	
		    <input type="radio" name="gender" value="male" [(ngModel)]="gender" />	{{'MALE'|translate}}
			<input type="radio" name="gender" value="femal" [(ngModel)]="gender" /> {{'FEMALE'|translate}}
	    </p> -->
		<div class="row">
			<div class="label-sm">Email</div>
			<input name="email" type="text" [(ngModel)]="email" (ngModelChange)="onInputChange($event)" required/>
		</div>
		<div class="row">
			<div class="label-sm">Password</div>
			<input name="password" type="password" [(ngModel)]="password" (ngModelChange)="onInputChange($event)" required/>
		</div>
		<div class="row">
			<div class="label-sm">Confirm Password</div>
			<input name="rePassword" type="password" [(ngModel)]="rePassword" (ngModelChange)="onInputChange($event)" required/>
		</div>
    

		<div class="row btn-holder">
			<button class="btn btn-primary" (click)="onSignup()" type="submit" block>Create</button>
		</div>
	</form>

</div>
