<!-- <div class="product-list">
    <div class="list-head">
    </div>
    <div class="list-body">
        <div class="row" *ngFor="let r of productList" (click)="toDetail(r)">
            <div class="left-side">
                <img src="{{MEDIA_URL}}{{r.logo}}" />
            </div>
            <div class="right-side">
                <div class="row">
                    <div class="col">{{r.title}}</div>
                    <div class="col">{{r.description}}</div>
                </div>
            </div>
        </div>
    </div>

    <div class="item-cell" [ngStyle]="{'width':item.w+'px', 'height':item.h+'px'}" *ngFor="let r of productList" (click)="toDetail(r)" >
        <div class="image-area" [ngStyle]="{'height':frame.h+'px'}">
            <img src="{{r.logo}}" [ngStyle]="{'width':frame.w+'px', 'height':frame.w+'px'}" alt="{{r.title}}" />
        </div>

        <div class="text-area">
            <div class="text-sm">{{r.title}}</div>
        </div>

    </div>
</div> -->


<div class="page product-list">
    <div *ngIf="productList.length==0">
        <button (click)="toPage('admin/product')">Add Product</button>
    </div>
    <div *ngIf="productList.length>0" class="list-body">
        <div class="row" *ngFor="let c of productList">
            <div class="col">{{c.name}}</div>
            <div class="col">{{(c.description.length>80)? (c.description | slice:0:80)+'...':(c.description)}}</div>
            <div class="col">
                <div class="btn" (click)="add()">Add</div>
                <div class="btn" (click)="change(c)">Change</div>
                <div class="btn" (click)="delete(c)">Delete</div>
            </div>
        </div>
    </div>
</div>
