<div class="container page">

    <form class="auth-form" #changePasswordForm="ngForm" novalidate>
        <div class="row">
            <span class="title-md">Change Password</span>
        </div>
        <div class="row">
            <span class="error-msg">{{errMsg}}</span>
        </div>

        <div>
            <div class="row">
                <div class="label-sm">Old Password</div>
                <input [(ngModel)]="password" name="old-password" type="password" (keyup.enter)="updateAccount()" 
                required />
            </div>

            <div class="row">
                <div class="label-sm">New Password</div>
                <input [(ngModel)]="newPassword" name="new-password" type="password" (keyup.enter)="updatePassword()" required />
            </div>

            <div class="row">
                <div class="label-sm">Confirm New Password</div>
                <input [(ngModel)]="confirmPassword" name="confirm-password" type="password" (keyup.enter)="updatePassword()"
                required="" />
            </div>

        </div>

        <div>
            <div class="btn-holder">
                <button class="btn btn-primary" (click)="changePassword(changePasswordForm)" type="submit" block>Submit</button>
            </div>
        </div>
        
    </form>

</div>
